<main>
<h1>Welcome</h1>
<div id="welcome-text">
    <p>Welcome to MyChampionList. Inspired by MyAnimeList, a WebApp which allows users to search up any anime/manga and grade it. It can be accessed at the following link: <a href="https://myanimelist.net/" target="_blank">MyAnimeList</a></p>
    <p>MyChampionList is a Web Application which allows users (suposedly League of legends players) to have a place to make a list of their favorite champions.</p>
    <p>A bit of reference was also taken from the official Riot Games League of Legends Champions WebSite: <a href="https://universe.leagueoflegends.com/en_US/champions/" target="_blank">Riot Games - League of Legends - Champions</a> </p>
    <p>MyChampionList is a project that I made for the Web Programing course at the University of Sibiu. The project is made using Angular, the Riot Games League of Legends API and Firestore Database. The project is hosted on GitHub and can be accessed at the following link: <a href="/" target="_blank">MyChampionList</a></p>      
    <p>A few links you might be interested in:</p>
    <ul>
        <li><a href="www.csac.ro" target="_blank">ULBS Inginerie Calculatoare</a></li>
        <li><a href="https://scanstart.ro/" target="_blank">Scan Start</a></li>
        <li><a href="https://graffino.com/" target="_blank">Graffino</a></li>
    </ul>
</div>
</main>