/* You can add global styles to this file, and also import other style files */

/* @import '@angular/material/prebuilt-themes/pink-bluegrey.css'; */

html, body { height: 100%; overflow: auto; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

body {
    margin: 0; 
    padding: 0; 
    height: 100%; 
    width: 100%; 
    background-image: url('assets/images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}
